black==21.11b1
cffi==1.15.0
click==8.0.3
cryptography==35.0.0
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
greenlet==1.1.2
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.4.0
pycparser==2.21
PyJWT==2.3.0
python-dateutil==2.8.2
regex==2021.11.10
six==1.16.0
SQLAlchemy==1.4.27
tomli==1.2.2
typing-extensions==4.0.0
Werkzeug==2.0.2
WTForms==3.0.0
