{% extends 'header.html' %}

{% block content %}

<h1>Viewing transactions for account {{ account.name }}</h1>
<h2>Balance: {{account.balance }}</h2>

<table>
    <tr>
        <th>Amount</th>
        <th>Description</th>
        <th>Account</th>
        <th>Date</th>
        <th></th>
    </tr>
    {% for transaction in transactions %}
    <tr>
        <th>{{ transaction[0] }}</th>
        <th>{{ transaction[1] }}</th>
        <th>{{ transaction[2] }}</th>
        <th>{{ transaction[3].strftime('%d %B, %Y') }}</th>
        <th><a href="/account/view/{{ account_index }}/transaction/{{ transaction[4] }}">Edit</th>
    </tr>
    {% endfor %}
</table>
{% endblock %}