{% extends 'base.html' %}

{% block content %}
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Balance</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <th><a href="/account/view/{{ accounts.index(account) }}">{{ account.name }}</a></th>
                {% if account.balance >= 0 %}
                <th class="text-success">{{ account.balance }}</th>
                {% else %}
                <th class="text-danger">{{ account.balance }}</th>
                {% endif %}
                <th>
                    <a class="btn btn-primary" role="button" href="/account/edit/{{ accounts.index(account) }}">Edit</a>
                    <a class="btn btn-primary" role="button" href="/account/delete/{{ accounts.index(account) }}">Delete</a>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}