{% extends 'header.html' %}

{% block content %}
<div class="container">
    {% if account.balance >= 0 %}
    <h2 class="text-success">Balance: {{ account.balance }}</h2>
    {% else %}
    <h2 class="text-danger">Balance: {{ account.balance }}</h2>
    {% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Amount</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                {% if transaction.amount >= 0 %}
                <th class="text-success">{{ transaction.amount }}</th>
                {% else %}
                <th class="text-danger">{{ transaction.amount }}</th>
                {% endif %}
                <th>{{ transaction.description }}</th>
                <th>{{ transaction.date.strftime('%d %B, %Y') }}</th>
                <th>
                    <a class="btn btn-primary" role="button" href="/transaction/edit/{{ transaction.transaction_index }}">Edit</a>
                    <a class="btn btn-primary" role="button" href="/transaction/delete/{{ transaction.transaction_index }}">Delete</a>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}