{% extends 'header.html' %}

{% block content %}
<h1>Create Bill</h1>
<form action="", method="post">
    {{ bill_form.hidden_tag() }}
    <p>{{bill_form.name.label}}<br>
    {{bill_form.name(size=32)}}<br>
    </p>
    <p>{{bill_form.start.label}}<br>
    {{bill_form.start(size=5)}}<br>
    </p>
    <p>{{bill_form.amount.label}}<br>
    {{bill_form.amount(size=32)}}<br>
    </p>
    <p>{{bill_form.occurence.label}}<br>
    {{bill_form.occurence(size=5)}}<br>
    </p>
    <p>{{ bill_form.submit() }}</p>
</form>
{% endblock %}