{% extends 'base.html' %}

{% block content %}
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Next Expected</th>
                <th scope="col">Occurence</th>
            </tr>
        </thead>
        <tbody>
            {% for bill, occurence in bills %}
            <tr>
                <th>{{ bill.name }}</th>
                <th>{{ bill.amount }}</th>
                <th>{{ bill.start.strftime('%d %B, %Y') }}</th>
                <th>{{ occurence }}</th>
                <th>
                    <a class="btn btn-primary" role="button" href="/bill/edit/{{ bill.user.bills.index(bill) }}">Edit</a>
                    <a class="btn btn-primary" role="button" href="/bill/delete/{{ bill.user.bills.index(bill) }}">Delete</a>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}