{% extends 'header.html' %}

{% block content %}
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Used</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for budget in budgets %}
            <tr>
                <th>{{ budget.name }}</th>
                {% if budget.used < budget.amount %}
                <th class="text-success">{{ budget.used }}</th>
                {% else %}
                <th class="text-danger">{{ budget.used }}</th>
                {% endif %}
                <th>{{ budget.amount }}</th>
                <th>
                    <a class="btn btn-light" role="button" href="/budget/edit/{{ budgets.index(budget) }}">Edit</a>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}