{% extends 'base.html' %}

{% block content %}
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Used</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for budget, used in budgets %}
            <tr>
                <th>{{ budget.name }}</th>
                {% if used < budget.amount %}
                <th class="text-success">{{ used }}</th>
                {% else %}
                <th class="text-danger">{{ used }}</th>
                {% endif %}
                <th>{{ budget.amount }}</th>
                <th>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="actions" data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="actions">
                            <li><a class="dropdown-item" href="/budget/edit/{{ budget.user.budgets.index(budget) }}">Edit</a></li>
                            <li><a class="dropdown-item" href="/budget/delete/{{ budget.user.budgets.index(budget) }}">Delete</a></li>
                        </ul>
                    </div>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}