{% extends 'base.html' %}

{% block content %}
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <th>{{ category.name }}</th>
                <th>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="actions" data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="actions">
                            <li><a class="dropdown-item" href="/category/edit/{{ category.user.categories.index(category) }}">Edit</a></li>
                            <li><a class="dropdown-item" href="/category/delete/{{ category.user.categories.index(category) }}">Delete</a></li>
                        </ul>
                    </div>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}