{% extends 'header.html' %}

{% block content %}
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <th>{{ category.name }}</th>
                <th>
                    <a class="btn btn-primary" role="button" href="/category/edit/{{ category.category_index }}">Edit</a>
                    <a class="btn btn-primary" role="button" href="/category/delete/{{ category.category_index }}">Delete</a>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}