{% block header %}
    <li>
        <a href="/">Dashboard</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
    
    </li>

    {% if logged_in %}
    <p>Transactions</p>
    <li>
        <a href="/period/view">View Transactions</a>
        <a href="/transaction/create/withdraw">Create Withdrawal</a>
        <a href="/transaction/create/deposit">Create Deposit</a>
    </li>
    <p>Accounts</p>
    <li>
        <a href="/account/view">View Accounts</a>
        <a href="/account/create">Create Account</a>
    </li>
    <p>Bills</p>
    <li>
        <a href="/bill/view">View Bills</a>
        <a href="/bill/create">Create Bill</a>
    </li>
    <p>Other</p>
    <li>
        <a href="/settings">Settings</a>
    </li>
    {% endif %}
{% endblock %}

{% block content %}
{% endblock %}