{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="text-center">Budgets</h1>
        <div class="col-md">
            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col" class="text-end">Used</th>
                        <th scope="col" class="text-end">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for budget, used in budgets %}
                    <tr>
                        <th>{{ budget.name }}</th>
                        {% if used < budget.amount %}
                        <th class="text-success text-end">{{ used }}</th>
                        {% else %}
                        <th class="text-danger text-end">{{ used }}</th>
                        {% endif %}
                        <th class="text-end">{{ budget.amount }}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md">
            <canvas id="budgetChart"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <h1 class="text-center">Accounts</h1>
            {% for account, balance, transactions in accounts %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">{{ account.name }}</th>
                        {% if balance >= 0 %}
                            <th class="col text-success text-end">${{ balance }}</h4>
                        {% else %}
                            <th class="col text-danger text-end">${{ balance }}</h4>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.description }}</td>
                        {% if transaction.amount > 0 %}
                            <td class="text-end text-success">${{ transaction.amount }}</p>
                        {% else %}
                            <td class="text-end text-danger">-${{ transaction.amount * -1 }}</p>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endfor %}
        </div>
        <div class="col-md">
            <h1 class="text-center">Bills due this Period</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Bill</th>
                        <th scope="col" class="text-end">Amount</th>
                        <th scope="col" class="text-end">Due</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bill in bills %}
                        <tr>
                            <td>{{ bill.name }}</td>
                            <td class="text-end" >${{ bill.amount }}</td>
                            <td class="text-end">{{ bill.start.strftime('%d %B, %Y') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if previous_bills %}
    <div class="row">
        <div class="col">
            <h1 class="text-center">Bills from Previous Period</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Bill</th>
                        <th scope="col" class="text-end">Amount</th>
                        <th scope="col" class="text-end">Due</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bill in previous_bills %}
                    <tr>
                        <td>{{ bill.name }}</td>
                        <td class="text-end" >${{ bill.amount }}</td>
                        <td class="text-end">{{ bill.start.strftime('%d %B, %Y') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md">
            <canvas id="categoryChart"></canvas>
        </div>
        <div class="col-md">
            <canvas id="placeholder"></canvas>
        </div>
        <div class="col-md">
            <canvas id="placeholder"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
<script>
    var dynamicColors = function() {
        var r = Math.floor(Math.random() * 255);
        var g = Math.floor(Math.random() * 255);
        var b = Math.floor(Math.random() * 255);
        return "rgb(" + r + "," + g + "," + b + ")";
    };

    var rawBudgetData = {{ budget_chart | tojson }};
    var budgetLabels = [];
    var budgetData = [];
    var budgetColours = [];
    rawBudgetData.forEach(function (budget){
        budgetLabels.push(budget['name']);
        budgetData.push(budget['percent'])
        budgetColours.push(dynamicColors())
    });
    const budgetCtx = document.getElementById('budgetChart').getContext('2d');
    const budgetChart = new Chart(budgetCtx, {
        type: 'bar',
        options: {
            indexAxis: 'y',
            scales: {
                x: {
                    min: 0,
                    max: 100          
                },
            },
            plugins: {
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: '% Used Budgets'
                }
            }
        },
        data: {
            labels: budgetLabels,
            datasets: [{
                data: budgetData,
                backgroundColor: budgetColours
            }]
        }
    });

    var rawCategoryData = {{ category_chart | tojson }};
    var categoryLabels = [];
    var categoryData = [];
    var categoryColours = [];
    for (var key in rawCategoryData) {
        categoryLabels.push(key);
        categoryData.push(rawCategoryData[key]);
        categoryColours.push(dynamicColors());
    }
    const categoryCtx = document.getElementById('categoryChart').getContext('2d');
    const categoryChart = new Chart(categoryCtx, {
        type: 'doughnut',
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Category Spending'
                }
            }
        },
        data: {
            labels: categoryLabels,
            datasets: [{
                data: categoryData,
                backgroundColor: categoryColours
            }]
        }
    })
</script>
{% endblock %}