{% extends 'header.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="text-center">Budgets</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Used</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for budget, used in budgets %}
                <tr>
                    <th>{{ budget.name }}</th>
                    {% if used < budget.amount %}
                    <th class="text-success">{{ used }}</th>
                    {% else %}
                    <th class="text-danger">{{ used }}</th>
                    {% endif %}
                    <th>{{ budget.amount }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center">Accounts</h1>
            {% for account, transactions in accounts %}
                <div class="container py-3">
                    <div class="row border bg-light">
                        <div class="col">
                            <h4 class="text-primary">{{ account.name }}</h4>
                        </div>
                        <div class="col text-end">
                            {% if account.balance >= 0 %}
                            <h4 class="text-success">${{ account.balance }}</h4>
                            {% else %}
                            <h4 class="text-danger">${{ account.balance }}</h4>
                            {% endif %}
                        </div>
                    </div>
                    {% for transaction in transactions %}
                    <div class="row border">
                        <div class="col">
                            <p>{{ transaction.description }}</p>
                        </div>
                        <div class="col text-end">
                            {% if transaction.amount > 0 %}
                            <p class="text-success">${{ transaction.amount }}</p>
                            {% else %}
                            <p class="text-danger">-${{ transaction.amount * -1 }}</p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="col">
            <h1 class="text-center">Bills due this Period</h1>
            <div class="container py-2"></div>
                <div class="row border bg-light">
                    <div class="col">
                        <h4>Bill</h4>
                    </div>
                    <div class="col">
                        <h4>Amount</h4>
                    </div>
                    <div class="col">
                        <h4>Due</h4>
                    </div>
                </div>
                {% for bill in bills %}
                <div class="row border">
                    <div class="col">
                        <p>{{ bill.name }}</p>
                    </div>
                    <div class="col">
                        <p>${{ bill.amount }}</p>
                    </div>
                    <div class="col">
                        <p>{{ bill.start.strftime('%d %B, %Y') }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}