{% extends 'header.html' %}

{% block content %}
<br>
<p>Other Periods</p>
{% for period in periods %}
    <li>
        <a href="/period/view/{{ periods.index(period) }}">{{ period.start.strftime('%d %B, %Y') }} - {{ period.end.strftime('%d %B, %Y') }}</a>
    </li>
    {% endfor %}
<h1>Viewing transaction for period: {{ period_start.strftime('%d %B, %Y') }} - {{ period_end.strftime('%d %B, %Y') }}</h1>

<table>
    <tr>
        <th>Amount</th>
        <th>Description</th>
        <th>Account</th>
        <th>Date</th>
    </tr>
    {% for transaction in transactions %}
    <tr>
        <th>{{ transaction.amount }}</th>
        <th>{{ transaction.description }}</th>
        <th>{{ transaction.account }}</th>
        <th>{{ transaction.date.strftime('%d %B, %Y') }}</th>
        <th><a href="/account/view/{{ transaction.account_index }}/transaction/{{ transaction.transaction_index }}">Edit </a></a></th>
    </tr>
    {% endfor %}
</table>
{% endblock %}