{% extends 'base.html' %}

{% block content %}
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Amount</th>
                <th scope="col">Description</th>
                <th scope="col">Account</th>
                <th scope="col">Category</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                {% if transaction.amount >= 0 %}
                <th class="text-success">{{ transaction.amount }}</th>
                {% else %}
                <th class="text-danger">{{ transaction.amount }}</th>
                {% endif %}
                <th>{{ transaction.description }}</th>
                <th>{{ transaction.account.name }}</th>
                <th>{{ transaction.category.name }}</th>
                <th>{{ transaction.date.strftime('%d %B, %Y') }}</th>
                <th>
                    <a class="btn btn-primary" role="button" href="/transaction/edit/{{ transaction.user.transactions.index(transaction) }}">Edit</a>
                    <a class="btn btn-primary" role="button" href="/transaction/delete/{{ transaction.user.transactions.index(transaction) }}">Delete</a>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}