{% extends 'header.html' %}

{% block content %}
<div class="w-75 position-absolute top-50 start-50 translate-middle" style="max-width: 800px;">
    <form action="" method="post">
        {{ settings_form.hidden_tag() }}
        <div class="form-floating mb-3">
            {{ settings_form.range(class_="form-control", placeholder_="range") }}
            {{ settings_form.range.label(class_="form-label") }}
        </div>
        <div class="form-floating mb-3">
            {{ settings_form.period_start(class_="form-control", placeholder_="period start") }}
            {{ settings_form.period_start.label(class_="form-label") }}
        </div>
        <div class="text-center mb-3">
            {{ settings_form.submit(class_="btn btn-primary text-center") }}
        </div>
    </form>
</div>

{% endblock %}