{% extends 'header.html' %}

{% block content %}
<div class="w-75 position-absolute top-50 start-50 translate-middle" style="max-width: 400px;">
    <h1 class="text-center mb-3">Login</h1>
    <form action="", method="post">
            {{ form.hidden_tag() }}
        <div class="form-floating mb-3">
            {{ form.username(class_="form-control", placeholder_="username") }}
            {{ form.username.label(class_="form-label") }}
        </div>
        <div class="form-floating mb-3">
            {{ form.password(class_="form-control", placeholder_="password") }}
            {{ form.password.label(class_="form-label") }}
        </div>
        <div class="text-center mb-3">
            {{ form.submit(class_="btn btn-primary text-center") }}
        </div>
    </form>
</div>
{% endblock %}